openapi: 3.0.0
info:
  title: DeepMet Rainfall Prediction API
  description: |
    DeepMet provides high-resolution, grid-based rainfall forecasts using deep learning models.
    The system predicts rainfall for the next 6 hours at a spatial resolution of 10km x 10km.

    **Key Concepts:**
    * **Grid System**: 10km x 10km cells.
    * **Anchor Time**: Reference time of the forecast model run.
    * **Lead Hour**: Hours into the future relative to Anchor Time.
  version: 1.0.0
servers:
  - url: https://deepmet.fyllo.in
    description: DeepMet by Fyllo

paths:
  /nowcast/point:
    get:
      summary: Get rainfall forecast for a specific location
      description: Returns the forecast for the single grid point closest to the requested latitude and longitude.
      parameters:
        - in: query
          name: latitude
          schema:
            type: number
            format: float
          required: true
          description: Latitude of the location
        - in: query
          name: longitude
          schema:
            type: number
            format: float
          required: true
          description: Longitude of the location
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepMetResponse'

  /nowcast/area:
    get:
      summary: Get aggregated rainfall forecast for a circular area
      description: Returns the aggregated forecast for all grid points falling within the specified radius.
      parameters:
        - in: query
          name: latitude
          schema:
            type: number
            format: float
          required: true
          description: Center latitude of the area
        - in: query
          name: longitude
          schema:
            type: number
            format: float
          required: true
          description: Center longitude of the area
        - in: query
          name: radius
          schema:
            type: number
            default: 20
            minimum: 10
            maximum: 50
          required: false
          description: Radius in kilometers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepMetResponse'

components:
  schemas:
    DeepMetResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        location:
          $ref: '#/components/schemas/Location'
        data:
          type: object
          properties:
            precipitation:
              $ref: '#/components/schemas/PrecipitationData'

    Metadata:
      type: object
      properties:
        anchor_time:
          type: string
          format: date-time
          description: ISO 8601 Timestamp of the forecast generation
          example: "2025-11-24T06:30:00.000Z"
        resolution:
          type: string
          example: "10km"
        lead_hours:
          type: array
          items:
            type: integer
          example: [1, 2, 3, 4, 5, 6]

    Location:
      type: object
      properties:
        type:
          type: string
          enum: [point, area]
        latitude:
          type: number
        longitude:
          type: number
        radius_km:
          type: number
          description: Only present for type='area'

    PrecipitationData:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/Summary'
        hourly:
          type: array
          items:
            $ref: '#/components/schemas/HourlyData'

    Summary:
      type: object
      properties:
        stats:
          $ref: '#/components/schemas/Stats'
        insights:
          $ref: '#/components/schemas/Insights'
        geojson:
          type: object
          description: Standard GeoJSON FeatureCollection

    Stats:
      type: object
      properties:
        weighted_avg:
          type: number
          description: Distance-weighted average rainfall
        max:
          type: number
        min:
          type: number
        unit:
          type: string
          example: "mm"

    Insights:
      type: object
      properties:
        spatial:
          $ref: '#/components/schemas/SpatialInsights'
        temporal:
          $ref: '#/components/schemas/TemporalInsights'

    SpatialInsights:
      type: object
      properties:
        primary_direction:
          type: string
          description: Direction of heaviest rain (e.g., NE)
        distance_km:
          type: number
          description: Distance to center of heaviest rain
        distribution:
          type: string
          enum: [localized, widespread, uniform]

    TemporalInsights:
      type: object
      properties:
        trend:
          type: string
          enum: [intensifying, clearing, steady, passing_shower]
        peak_time:
          type: string
          format: date-time

    HourlyData:
      type: object
      properties:
        hour:
          type: integer
        timestamp:
          type: string
          format: date-time
        stats:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
            avg:
              type: number
            unit:
              type: string
        geojson:
          type: object
          description: GeoJSON FeatureCollection for this hour
