openapi: 3.0.0
info:
  title: DeepMet Rainfall Prediction API
  description: |
    DeepMet provides high-resolution, grid-based rainfall forecasts using deep learning models.
    The system predicts rainfall for the next 6 hours at a spatial resolution of 10km x 10km.

    **Key Concepts:**
    * **Grid System**: 10km x 10km cells.
    * **Anchor Time**: Reference time of the forecast model run.
    * **Lead Hour**: Hours into the future relative to Anchor Time.
  version: 1.0.0
security:
  - ApiKeyAuth: []
servers:
  - url: https://deepmet.fyllo.in
    description: DeepMet by Fyllo

paths:
  /nowcast/point:
    get:
      summary: Get rainfall forecast for a specific location
      description: Returns the forecast for the single grid point closest to the requested latitude and longitude.
      parameters:
        - in: query
          name: latitude
          schema:
            type: number
            format: float
          required: true
          description: Latitude of the location
        - in: query
          name: longitude
          schema:
            type: number
            format: float
          required: true
          description: Longitude of the location
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepMetResponse'

  /nowcast/area:
    get:
      summary: Get aggregated rainfall forecast for a circular area
      description: Returns the aggregated forecast for all grid points falling within the specified radius.
      parameters:
        - in: query
          name: latitude
          schema:
            type: number
            format: float
          required: true
          description: Center latitude of the area
        - in: query
          name: longitude
          schema:
            type: number
            format: float
          required: true
          description: Center longitude of the area
        - in: query
          name: radius
          schema:
            type: number
            default: 20
            minimum: 10
            maximum: 50
          required: false
          description: Radius in kilometers
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepMetResponse'

  /nowcast/route:
    post:
      summary: Get rainfall forecast along a travel route
      description: |
        Returns time-filtered forecasts for a route with multiple waypoints.
        Provides segment-by-segment forecasts based on arrival times.
        
        **Time Modes:**
        * **Explicit Arrival Times**: Each waypoint includes `arrivalTime`
        * **Speed-Based**: Provide `averageSpeed` and `departureTime` to calculate arrival times
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - waypoints
              properties:
                waypoints:
                  type: array
                  minItems: 2
                  maxItems: 50
                  items:
                    type: object
                    required:
                      - latitude
                      - longitude
                    properties:
                      latitude:
                        type: number
                        format: float
                        example: 16.37481
                      longitude:
                        type: number
                        format: float
                        example: 73.38659
                      arrivalTime:
                        type: string
                        format: date-time
                        description: ISO 8601 timestamp for explicit time mode
                        example: "2025-12-22T10:30:00.000Z"
                radius:
                  type: number
                  default: 20
                  minimum: 10
                  maximum: 50
                  description: Corridor radius in kilometers
                averageSpeed:
                  type: number
                  minimum: 1
                  maximum: 200
                  description: Average speed in km/h (required for speed-based mode)
                  example: 60
                departureTime:
                  type: string
                  format: date-time
                  description: Departure time (required for speed-based mode)
                  example: "2025-12-22T08:30:00.000Z"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResponse'
        '400':
          description: Bad request (e.g., route > 500km, invalid parameters)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      statusCode:
                        type: integer

  /locations:
    post:
      summary: Register a custom location
      description: |
        Registers a lat/lng point under your subscription so you can fetch
        forecasts for it later by id. Locations are independent of the
        `/nowcast/*` endpoints, which take coordinates directly.

        The number of locations you can register is limited by your plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - latitude
                - longitude
              properties:
                name:
                  type: string
                  description: Optional friendly name for the location
                  example: "Warehouse - Nashik"
                latitude:
                  type: number
                  format: float
                  minimum: -90
                  maximum: 90
                  example: 20.0059
                longitude:
                  type: number
                  format: float
                  minimum: -180
                  maximum: 180
                  example: 73.7997
      responses:
        '200':
          description: Location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepMetLocation'
        '403':
          description: Location limit reached for your plan
    get:
      summary: List your registered locations
      responses:
        '200':
          description: Locations for the calling subscription
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeepMetLocation'

  /locations/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: Location id (as returned from POST /locations)
    get:
      summary: Get a registered location by id
      responses:
        '200':
          description: The location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepMetLocation'
        '404':
          description: Location not found (or not owned by your subscription)
    patch:
      summary: Update a registered location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                latitude:
                  type: number
                  format: float
                  minimum: -90
                  maximum: 90
                longitude:
                  type: number
                  format: float
                  minimum: -180
                  maximum: 180
      responses:
        '204':
          description: Updated
        '404':
          description: Location not found (or not owned by your subscription)
    delete:
      summary: Delete a registered location
      responses:
        '204':
          description: Deleted
        '404':
          description: Location not found (or not owned by your subscription)

  /locations/{id}/forecast:
    get:
      summary: Get the daily/hourly forecast for a registered location
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Daily and hourly forecast for the location's coordinates
          content:
            application/json:
              schema:
                type: object
                properties:
                  dailyWeatherForecastData:
                    type: array
                    items:
                      $ref: '#/components/schemas/DailyForecastItem'
                  hourlyWeatherForecastData:
                    type: array
                    items:
                      $ref: '#/components/schemas/HourlyForecastItem'
        '404':
          description: Location not found (or not owned by your subscription)

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

  schemas:
    DeepMetLocation:
      type: object
      properties:
        id:
          type: string
          example: "65f1c2a4e4b0c9a1b2c3d4e5"
        name:
          type: string
          example: "Warehouse - Nashik"
        latitude:
          type: number
          example: 20.0059
        longitude:
          type: number
          example: 73.7997
        subscriptionId:
          type: string
          example: "65f1c2a4e4b0c9a1b2c3d4e6"

    DailyForecastItem:
      type: object
      description: |
        One calendar day's forecast. Field set mirrors Fyllo's internal
        weather service and can vary slightly by location/source coverage —
        airPressure, baroPressure, iconPhrase, precipitationType and
        precipitationIntensity are only present when the underlying source
        (e.g. accuweather, climacell) provides them for that day. Every
        field's `sourceId` (source-provenance tag) is stripped from this
        response.
      properties:
        id:
          type: string
          example: "6a6b53161dba8506e8bc30e1"
        createdAt:
          type: string
          format: date-time
          example: "2026-07-30T13:35:18.984Z"
        timestamp:
          type: string
          format: date-time
          example: "2026-07-31T00:00:00.000Z"
        locationId:
          type: string
          example: "6a6b2fd71dba85590abc1910"
        airTemp:
          type: object
          properties:
            min:
              type: object
              properties:
                value:
                  type: number
                  example: 24.1
                unit:
                  type: string
                  example: "℃"
            max:
              type: object
              properties:
                value:
                  type: number
                  example: 33.4
                unit:
                  type: string
                  example: "℃"
            avg:
              type: object
              properties:
                value:
                  type: number
                  example: 28.7
                unit:
                  type: string
                  example: "℃"
        airHumidity:
          type: object
          description: Daily records only carry `avg` (no min/max).
          properties:
            avg:
              type: object
              properties:
                value:
                  type: number
                  example: 78
                unit:
                  type: string
                  example: "%"
        airPressure:
          type: object
          description: Only present when the source reports it for that day.
          properties:
            min:
              type: object
              properties:
                value:
                  type: number
                  example: 964.21
                timestamp:
                  type: string
                  format: date-time
                unit:
                  type: string
                  example: "hPa"
            max:
              type: object
              properties:
                value:
                  type: number
                  example: 968.16
                timestamp:
                  type: string
                  format: date-time
                unit:
                  type: string
                  example: "hPa"
            avg:
              type: object
              properties:
                value:
                  type: number
                  example: 966.13
                unit:
                  type: string
                  example: "hPa"
        baroPressure:
          type: object
          description: Same shape as airPressure; only present when the source reports it.
          properties:
            min:
              type: object
              properties:
                value:
                  type: number
                  example: 1000.19
                timestamp:
                  type: string
                  format: date-time
                unit:
                  type: string
                  example: "hPa"
            max:
              type: object
              properties:
                value:
                  type: number
                  example: 1004.41
                timestamp:
                  type: string
                  format: date-time
                unit:
                  type: string
                  example: "hPa"
            avg:
              type: object
              properties:
                value:
                  type: number
                  example: 1002.26
                unit:
                  type: string
                  example: "hPa"
        windSpeed:
          type: object
          properties:
            max:
              type: object
              properties:
                value:
                  type: number
                  example: 20.1
                unit:
                  type: string
                  example: "km/hr"
        windDirection:
          type: object
          properties:
            avg:
              type: object
              properties:
                value:
                  type: string
                  description: Compass direction
                  example: "ENE"
        rainFall:
          type: object
          properties:
            value:
              type: number
              description: Forecast rainfall in mm
              example: 12.4
            unit:
              type: string
              example: "mm"
        dayLength:
          type: object
          properties:
            value:
              type: number
              description: Length of daylight, in seconds (not hours)
              example: 47875.99
            unit:
              type: string
              example: "seconds"
        sunshineHours:
          type: object
          properties:
            value:
              type: number
              description: Hours of sunshine
              example: 11.34
            unit:
              type: string
              example: "hours"
        weatherIcon:
          type: object
          properties:
            value:
              type: string
              example: "Thunderstorm"
            displayValue:
              type: string
              description: Localized label (translated per the `lang` you send)
              example: "Thunderstorm"
        iconPhrase:
          type: object
          description: AccuWeather-sourced phrase; only present when that source is available.
          properties:
            value:
              type: string
              example: "Showers"
        hasPrecipitation:
          type: object
          properties:
            value:
              type: boolean
              example: true
        precipitationType:
          type: object
          description: Only present when the source (typically climacell) reports it.
          properties:
            value:
              type: string
              example: "Rain"
        precipitationIntensity:
          type: object
          description: Only present when the source (typically climacell) reports it.
          properties:
            value:
              type: number
              example: 0.47
            unit:
              type: string
              example: "mm"
        precipitationAccumulation:
          type: object
          properties:
            value:
              type: number
              example: 2.4
            unit:
              type: string
              example: "mm"
        precipitationProbability:
          type: object
          properties:
            value:
              type: number
              description: Percent chance of precipitation
              example: 68
            unit:
              type: string
              example: "%"
        cloudCover:
          type: object
          properties:
            value:
              type: number
              example: 69
            unit:
              type: string
              example: "%"

    HourlyForecastItem:
      type: object
      description: |
        One hour's forecast, same field-naming convention as
        DailyForecastItem but with single (not min/max/avg) values.
        airPressure, baroPressure, iconPhrase, precipitationType and
        precipitationIntensity are only present when the underlying source
        provides them for that hour. `sourceId` is stripped from this
        response.
      properties:
        id:
          type: string
          example: "6a6b531a1dba85bcc0bc32cf"
        createdAt:
          type: string
          format: date-time
          example: "2026-07-30T13:35:22.900Z"
        timestamp:
          type: string
          format: date-time
          example: "2026-07-31T14:00:00.000Z"
        locationId:
          type: string
          example: "6a6b2fd71dba85590abc1910"
        airTemp:
          type: object
          properties:
            value:
              type: number
              example: 31.2
            unit:
              type: string
              example: "℃"
        airHumidity:
          type: object
          properties:
            value:
              type: number
              example: 64
            unit:
              type: string
              example: "%"
        airPressure:
          type: object
          description: Only present when the source reports it for that hour.
          properties:
            value:
              type: number
              example: 961.9
            unit:
              type: string
              example: "hPa"
        baroPressure:
          type: object
          description: Only present when the source reports it for that hour.
          properties:
            value:
              type: number
              example: 996
            unit:
              type: string
              example: "hPa"
        windSpeed:
          type: object
          properties:
            value:
              type: number
              example: 14.2
            unit:
              type: string
              example: "km/hr"
        windDirection:
          type: object
          properties:
            value:
              type: string
              example: "ENE"
        rainFall:
          type: object
          properties:
            value:
              type: number
              example: 3.1
            unit:
              type: string
              example: "mm"
        weatherIcon:
          type: object
          properties:
            value:
              type: string
              example: "Drizzle"
            displayValue:
              type: string
              example: "Drizzle"
        iconPhrase:
          type: object
          description: AccuWeather-sourced phrase; only present when that source is available.
          properties:
            value:
              type: string
              example: "Mostly cloudy"
        hasPrecipitation:
          type: object
          properties:
            value:
              type: boolean
              example: true
        precipitationType:
          type: object
          description: Only present when the source reports it.
          properties:
            value:
              type: string
              example: "Rain"
        precipitationIntensity:
          type: object
          description: Only present when the source reports it.
          properties:
            value:
              type: number
              example: 0
            unit:
              type: string
              example: "mm"
        precipitationProbability:
          type: object
          properties:
            value:
              type: number
              example: 40
            unit:
              type: string
              example: "%"
        cloudCover:
          type: object
          properties:
            value:
              type: number
              example: 46
            unit:
              type: string
              example: "%"

    DeepMetResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        location:
          $ref: '#/components/schemas/Location'
        data:
          type: object
          properties:
            precipitation:
              $ref: '#/components/schemas/PrecipitationData'

    RouteResponse:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        location:
          $ref: '#/components/schemas/RouteLocation'
        data:
          type: object
          properties:
            precipitation:
              $ref: '#/components/schemas/PrecipitationData'
        segments:
          type: array
          description: Segment-by-segment forecasts with time-filtered precipitation
          items:
            $ref: '#/components/schemas/RouteSegment'
        alerts:
          type: array
          description: Weather alerts for heavy rain along the route
          items:
            $ref: '#/components/schemas/RouteAlert'

    Metadata:
      type: object
      properties:
        anchor_time:
          type: string
          format: date-time
          description: ISO 8601 Timestamp of the forecast generation
          example: "2025-11-24T06:30:00.000Z"
        resolution:
          type: string
          example: "10km"
        lead_hours:
          type: array
          items:
            type: integer
          example: [1, 2, 3, 4, 5, 6]

    Location:
      type: object
      properties:
        type:
          type: string
          enum: [point, area]
        latitude:
          type: number
        longitude:
          type: number
        radius_km:
          type: number
          description: Only present for type='area'

    RouteLocation:
      type: object
      properties:
        type:
          type: string
          enum: [route]
          example: "route"
        waypoints:
          type: array
          items:
            type: object
            properties:
              latitude:
                type: number
              longitude:
                type: number
              arrivalTime:
                type: string
                format: date-time
        radius_km:
          type: number
          description: Corridor radius
        total_distance_km:
          type: number
          example: 136.1
        corridor_grid_points:
          type: integer
          description: Number of grid points within route corridor
        departure_time:
          type: string
          format: date-time
        estimated_arrival:
          type: string
          format: date-time
        average_speed_kmh:
          type: number

    RouteSegment:
      type: object
      properties:
        from:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
        to:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
        distance_km:
          type: number
          example: 8.5
        departure_time:
          type: string
          format: date-time
        arrival_time:
          type: string
          format: date-time
        forecast_at_arrival:
          $ref: '#/components/schemas/ForecastAtArrival'

    ForecastAtArrival:
      type: object
      properties:
        precipitation_mm:
          type: number
          description: Max precipitation from relevant forecast hours
          example: 2.5
        conditions:
          type: string
          enum: [Clear, Light rain, Moderate rain, Heavy rain]
          example: "Light rain"
        relevant_hours:
          type: array
          items:
            type: integer
          description: Forecast hours used (1-6)
          example: [2, 3]
        arrival_hour:
          type: number
          format: float
          description: Hours from anchor time
          example: 2.15

    RouteAlert:
      type: object
      properties:
        type:
          type: string
          example: "heavy_rain"
        severity:
          type: string
          enum: [moderate, high]
        location:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
        eta:
          type: string
          format: date-time
        message:
          type: string
          example: "Heavy rain expected (12.5mm) when you reach this location around 14:30"

    PrecipitationData:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/Summary'
        hourly:
          type: array
          items:
            $ref: '#/components/schemas/HourlyData'

    Summary:
      type: object
      properties:
        stats:
          $ref: '#/components/schemas/Stats'
        insights:
          $ref: '#/components/schemas/Insights'
        geojson:
          type: object
          description: Standard GeoJSON FeatureCollection

    Stats:
      type: object
      properties:
        weighted_avg:
          type: number
          description: Distance-weighted average rainfall
        max:
          type: number
        min:
          type: number
        unit:
          type: string
          example: "mm"

    Insights:
      type: object
      properties:
        spatial:
          $ref: '#/components/schemas/SpatialInsights'
        temporal:
          $ref: '#/components/schemas/TemporalInsights'

    SpatialInsights:
      type: object
      properties:
        primary_direction:
          type: string
          description: Direction of heaviest rain (e.g., NE)
        distance_km:
          type: number
          description: Distance to center of heaviest rain
        distribution:
          type: string
          enum: [localized, widespread, uniform]
          description: |
            Coverage-based distribution:
            * localized: < 30% of search area has rain
            * widespread: ≥ 30% of search area has rain

    TemporalInsights:
      type: object
      properties:
        trend:
          type: string
          enum: [intensifying, clearing, steady, passing_shower]
        peak_time:
          type: string
          format: date-time

    HourlyData:
      type: object
      properties:
        hour:
          type: integer
        timestamp:
          type: string
          format: date-time
        stats:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
            avg:
              type: number
            unit:
              type: string
        geojson:
          type: object
          description: GeoJSON FeatureCollection for this hour